/* div {
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black; */
    /* border-radius: 50%; */
    /* transition-property: all;
    transition-duration: 2s;
/* transition-timing-function: steps(5); */
/* transition-timing-function: ease-in;
transition-delay: 1s; */ 
/* position: absolute;
top: 100px;
left: 100px; */
/* animation-name: colorAnimate;
animation-duration: 0.25s; */
/* animation-timing-function: ease-in; */
/* animation-delay: 0s;
animation-iteration-count: infinite ; */
/* transition: all 2s ease-in 1s; */
/* transform: rotate(45deg); */
/* transition: all 2s ease-in; */
/* animation: colorAnimate 4s ease-in 1s infinite normal;
} */
/* div:hover{ */
/* background-color: brown;
color: blue;
font-size: 20px; */
/* transform: scaleY(2);
transform: scaleX(2);
transform: scale(2); */
/* transform: skew(45deg);
} */
/* div:active{
    background-color: pink ;
} */
 /* @keyframes colorAnimate {
    from{ */
        /* background-color:aquamarine ; */
        /* left: 0px;
        background-color: chartreuse;
    } to { */
        /* background-color: red; */
        /* left: 200px;
        background-color: cornflowerblue;
    }} */
/* @keyframes colorAnimate {
    0%{
        background-color:aquamarine ;
        left: 0px;
        background-color: chartreuse;
    } 
    50%{
        background-color: blue;
    }
    100% {
        background-color: red;
        left: 200px;
        background-color:red;
    }} */
     div {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 20px solid aquamarine;
        border-top: 20px solid rgb(255, 217, 0);
        animation: spin 1s ease-in-out 0s infinite normal;
     }
@keyframes spin {
    from{
        transform: rotate(0deg) ;
    }
    to{
        transform: rotate(360deg);
    }
}